* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #fff8e7;
    color: #333;
    padding-top: 50px;
}

/* Header styling */
header {
    background-color: #f7e7ce;
    color: #000;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

header nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 10px;
}

header nav ul li {
    margin: 0 20px;
}

header nav ul li a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
}

/* Section styling */
section {
    padding: 20px;
    margin: 20px auto;
    max-width: 1000px;
    background-color: #c19770;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;

}
.linkedin-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.linkedin-button:hover {
    background-color: #555;
}
.resume-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.resume-button:hover {
    background-color: #555;
}
#home {
    padding: 50px 20px;
    text-align: left;
    background-color: #fff;
}

#home h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

#home p {
    font-size: 1.2em;
    color: #555;
}

/* About Me section */
#about h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

/* Projects Gallery styling */
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.project img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.project h3 {
    margin: 10px 0;
}

/* Contact form styling */
form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 5px;
}

form input, form textarea {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    padding: 10px 15px;
    font-size: 1em;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #555;
}

/* Footer styling */
footer {
    text-align: center;
    padding: 20px;
    background-color: #c3b091;
    color: #fff;
    margin-top: 20px;
}

/* Responsive Design */
@media (max-width: 768px) {
    header nav ul {
        flex-direction: column;
    }

    .gallery {
        grid-template-columns: 1fr;
    }
}
